{% extends "account.html" %} {% block sec_content %}

<form action="{{url_for('address')}}" method="post" novalidate>
  {{ form.hidden_tag() }} {{ aform.firstName.label }} {{ aform.firstName() }} {%
  for error in aform.firstName.errors %} {{ error }} {% endfor %}

  <br />

  {{ aform.lastName.label }} {{ aform.lastName() }} {% for aerror in
  aform.lastName.errors %} {{ error }} {% endfor %}

  <br />

  {{ aform.address1.label }} {{ aform.address1() }} {% for error in
  aform.address1.errors %} {{ error }} {% endfor %}

  <br />

  {{ aform.address2.label }} {{ aform.address2() }} {% for error in
  aform.address2.errors %} {{ error }} {% endfor %}

  <br />

  {{ aform.address3.label }} {{ aform.address3() }} {% for error in
  aform.address3.errors %} {{ error }} {% endfor %}

  <br />
  {{ aform.postCode.label }} {{ aform.postCode() }} {% for error in
  aform.postCode.errors %} {{ error }} {% endfor %} <br />{{ aform.submit() }}
</form>

<form action="" method="post" novalidate>
  <caption>
    Change Password
  </caption>
  {{ form.hidden_tag() }}
  <br />

  {{ form.password.label }} {{ form.password() }} {% for error in
  form.password.errors %} {{ error }} {% endfor %}

  <br />

  {{ form.password2.label }} {{ form.password2() }} {% for error in
  form.password2.errors %} {{ error }} {% endfor %}

  <br />

  {{ form.submit() }}
</form>

{% endblock %}
